@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');



/* Navbar */
.navbar-brand{
    color: #417AFC;
    font-family: 'Fredoka One', cursive;
}
.nav-link{
    color: #417AFC;
}
/* Akhir Navbar */

/* Home */
.wrap-home{
    height: 90vh;
    align-items: center;
}

.home-text{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: white;
    font-size: 40px;
}

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    /* border-top-right-radius: 50% 100%; */
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #00A6D8;
    height: 80%;
}
/* Akhir Home */

/* About We */
#about{
    padding-bottom: 3rem;
}
.about-title{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: #417AFC;
}
.wrap-about{
    height: 80vh;
    align-items: center;
}
.about-text-wrapper{
    border-radius: 40px;
    padding: 15px;
    color: white;
    background-color: #00A6D8;
}
.about-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.wrap-about-image-left{
    display: flex;
    justify-content: end;
}
.wrap-about-image-right{
    display: flex;
    justify-content: start;
}
.wrap-about-text{
    text-align: center;
}

/* Akhir About We */

/* Project */

.wrap-project{
    height: 90vh;
    align-items: center;
}
.project-title{
    font-family: 'Fredoka One', cursive;
    text-align: center;
}
.table-title{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: #417AFC;
}
.wrap-text-project{
    border-radius: 40px;
    padding: 20px;
    color: white;
    background-color: #00A6D8;
}
.btn-project{
    padding: 8px;
    border-radius: 15px;
}
/* Akhir Project */

@media screen and (max-width:994px) {
    
    /* Home */
    .bubble::after {
        content: '';
        border-top-left-radius: 50% 100%;
        /* border-top-right-radius: 90% 100%; */
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        background-color: #00A6D8;
        height: 60%;
    }
    .home-text{
        margin-top: -15vh;
    }
    .nav-link{
        text-align: center;
    }
    /* Akhir Home */

    /* About */
    .wrap-about-image-left{
        display: flex;
        justify-content: center;
    }
    .wrap-about-image-right{
        display: flex;
        justify-content: center;
    }
    .wrap-about-text h6{
        font-size: 12px;
    }
    .about-image{
        width: 100px;
        height: 100px;
    }
    /* Akhir About */

    /* Project */
    .text-project{
        font-size: 12px;
    }
    .wrap-text-project{
        border-radius: 0px;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        bottom: 0;
    }
    .btn-project{
        font-size: 12px;
    }
    /* Akhir Project */
}